@model ProjektPazigApteka.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}
<script src="/Scripts/jquery-1.4.4.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>
<h3>
    <span style="color: forestgreen"><em>Review</em> your cart:</span>
</h3>
<p style="font-size:large" class="button">
    @Html.ActionLink("Checkout>> ", "AddressAndPayment", "Checkout")
</p>
<div id="update-message">
</div>
<table>
    <tr style="font-size:large">
        
        <th style="font-size:large">
            Name
        </th>
       <td></td>
        <td></td>
        <td>
       
        <th>
            Price
        </th>

        </td>
        <td style="width:30px"></td>
        <td></td>
        <td>
        <th>
            Quantity
        </th>
        </td>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
<tr style="font-size:large" id="row-@item.RecordId">
    <td>
        @Html.ActionLink(item.Item.Title,
       "Details", "Store", new { id = item.ItemId }, null)
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        @item.Item.Price
    </td>
    <td></td>
    <td></td>
    <td></td>
   
    
    <td align="center" id="item-count-@item.RecordId">
        @item.Count
    </td>

  <td>


        <p class="button2">
            @Html.ActionLink("Remove from cart", "RemoveFromCart",
            "ShoppingCart", new { id = item.RecordId }, "")
        </p>

    </td>
</tr >
    }
    <tr style="font-size:large">
       
            <th >
            Total
            </th>
      <td style="width:30px"></td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>